<div id="bg">
  <div id="outer">
    <div id="header">
      <div id="logo">
        <h1>
          <a href="#">Model Advanced</a>
        </h1>
      </div>
    </div>
    <div id="main"> 
      <div id="content">
        <div id="box2">
          <%# 여기에 내용을 넣어주세요 %>
        </div> 
        <br class="clear" />
      </div>
      <br class="clear" />
    </div>
    <div id="footer">
      <div id="footerContent">
        <h1>내용이 없는 footer</h1>
      </div>
      <div id="footerSidebar">
        <ul class="linkedList">
          <li class="first">
          <a href="#">위로 올라가기</a>
          </li>
          <li>
          <a href="#">이것도</a>
          </li>
          <li class="last">
          <a href="#">이것도</a>
          </li>
        </ul>
      </div>
      <br class="clear" />
    </div>
  </div>
</div>
