<div id="bg">
  <div id="outer">
    <div id="header">
      <div id="logo">
        <h1>
          <a href="#">Model Advanced</a>
        </h1>
      </div>
    </div>
    <div id="main"> 
      <div id="content">
        <div id="box2">
          <ul class="linkedList">
            <li class="first">
            <a href="/univ_and_stud">University & Student association</a>
            </li>
            <li>
            <a href="/stud_and_prof">Student & Professor association</a>
            </li>
            <li>
            <a href="/group_and_member">Group & Member association</a>
            </li>
            <li>
            <a href="/book_and_page">Book & Page association</a>
            </li>
            <li class="last">
            <a href="/user">User association</a>
            </li>
          </ul>
        </div> 
        <br class="clear" />
      </div>
      <br class="clear" />
    </div>
    <div id="footer">
      <div id="footerContent">
        <h1>내용이 없는 footer</h1>
      </div>
      <div id="footerSidebar">
        <ul class="linkedList">
          <li class="first">
          <a href="#">위로 올라가기</a>
          </li>
          <li>
          <a href="#">이것도</a>
          </li>
          <li class="last">
          <a href="#">이것도</a>
          </li>
        </ul>
      </div>
      <br class="clear" />
    </div>
  </div>
</div>
